.grid-wrapper[data-v-24640474]{display:grid;grid-template-columns:repeat(auto-fill,minmax(130px,1fr));grid-gap:15px}@media (min-width: 768px){.grid-wrapper[data-v-24640474]{grid-template-columns:repeat(auto-fill,minmax(170px,170px))}}
